<% provide(:title, "About") %>
<h1>About</h1>
<p>
  The Bidder is an online bidding system. It has the following features in the future:
</p>
</br>

<p>
Bid:
The users can add the item they want to sell to others.
</p>

<p>
Search:
We want to be able to search the specific tags in our database. For example, we can show the users all the items with tag "phone".
</p>

<p>
Follow:
For example, if the due date of the item is in one hour, the system can notify the users.
</p>

<p>
History:
This function can show the users what they have searched in the past.
</p>

<p>
Hot item:
Our website can show that what items are viewed by most of the users, and the website will show it on the top of the page.
</p>