<h1>Profile</h1>
<% if user_signed_in? %>
  <p>I am <%= current_user.email %></p>
  
  <% current_user.sell_items.each do |item| %>
    <p>I sell <%= item.item_name %>
  	</p>
  <% end %>
<% else %>
  <p>[Error]</p>
<% end %>
